
$tab: 768px;
$sp: 480px;

@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
@mixin btnArrow ($wh, $color) {
  position: absolute;
  content: '';
  width: $wh;
  height: $wh;
  border-top: solid 2px $color;
  border-right: solid 2px $color;
  top: 49%;
  right: 30px;
  -webkit-transform: translateY(-51%) rotate(45deg);
  transform: translateY(-51%) rotate(45deg);
}

main {
  background-color: #eaf1fb;
  section {
    .ttl {
      text-align: center;
      h1 {
        padding: 30px 0;
        font-size: 3rem;
        @include sp {
          font-size: 1.8rem;
        }
      }
      .big {
        font-size: 1.5em;
      }
    }
    .mainBlock {
      width: 1000px;
      max-width: 90%;
      margin: 0 auto;
      >ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        >li {
          width: calc(95%/2);
          margin: 20px 0;
          @include sp {
            width: calc(100%);
          }
          .menu {
            position: relative;
            padding: 15px 0;
            border-radius: 8px;
            background-color: #fff;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            cursor: pointer;
            .modalBtn {
              position: absolute;
              width: 30px;
              height: 30px;
              top: 50%;
              right: 25px;
              -webkit-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              .plus {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                &::before,
                &::after {
                  position: absolute;
                  content: '';
                  width: 20px;
                  height: 4px;
                  border-radius: 10px;
                  background-color: #c7c7c7;
                }
                &::before {
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%, -50%) rotate(90deg);
                  transform: translate(-50%, -50%) rotate(90deg);
                }
                &::after {
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                }
              }
            }
            h2 {
              padding-right: 15px;
              color: #323232;
            }
            &:hover {
              .modalBtn {
                -webkit-transform: translateY(-50%) rotate(90deg);
                transform: translateY(-50%) rotate(90deg);
              }
            }
          }
        }
      }
    }
    .reviewBlock {
      margin-top: 50px;
      text-align: center;
      .reviewBox {
        width: 500px;
        max-width: 90%;
        margin: auto;
        border-radius: 8px;
        cursor: pointer;
        > p {
          padding: 20px 0;
          font-size: 1.5rem;
        }
      }
    }
  }
  .modalBg {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    .modalBox {
      position: absolute;
      width: 700px;
      max-width: 90%;
      height: 600px;
      background-color: #ffffff;
      border-radius: 8px;
      top: 50%;
      left: 50%;
      overflow-y: scroll;
      animation: popup .5s ease-in-out .2s forwards;
      opacity: 0;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 20px 0;
        li {
          position: relative;
          width: calc(95%/2);
          background-color: #eaf1fb;
          border-radius: 8px;
          text-align: center;
          @include sp {
            width: 100%;
          }
          p {
            padding: 20px 0;
            font-size: 1.1rem;
            font-weight: bold;
            color: #7d7d7d;
          }
          &::before {
            @include btnArrow(8px, #7d7d7d);
          }
        }
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: #e3e3e3;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #a2b5d2;
      }
    }
  }
}
.chapterPage {
  .questions {
    min-height: 100vh;
    overflow: hidden;
  }
  ul {
    display: flex;
    li {
      min-width: 100%;
      -webkit-transition: all .3s ease-out;
      transition: all .5s ease-out;
    }
  }
  .qWord {
    width: 800px;
    max-width: 90%;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
      h2 {
        padding: 30px 0 20px;
        font-size: 3rem;
      }
      .aList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
        padding-bottom: 50px;
        margin: 0 auto;
        button {
          display: block;
          width: 300px;
          margin-top: 35px;
          padding: 15px 20px;
          background-color: #ffffff;
          border-radius: 3rem;
          border: solid 2px #a2b5d2;
          font-weight: bold;
          font-size: 0.9rem;
          color: #8ba1c1;
          transition: all .2s ease-in-out;
          &:hover {
            background-color: #a2b5d2;
            color: #ffffff;
          }
        }
      }
      @include sp {
        h2 {
          padding: 30px 0 10px;
        }
        .aList {
          button {
            margin-top: 20px;
          }
        }
      }
  }
  .answer {
    width: 100%;
    background-color: #ffffff;
  }
  .next {
    padding: 30px 0 40px;
    text-align: center;
    button {
      position: relative;
      width: 300px;
      height: 50px;
      background-color: #a2b5d2;
      border: solid 2px #a2b5d2;
      color: #ffffff;
      border-radius: 8px;
      font-size: 1.2rem;
      &::before {
        @include btnArrow(10px, #ffffff);
      }
    }
  }
}

.isNone {
  display: none;
}

@keyframes popup {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}